@{
    ViewData["Title"] = "Manage Users";
    Layout = "_AdminLayout";
}

<link rel="stylesheet" href="~/css/adminProduct.css" />

<div class="manage-products">
    <h2>Manage Users</h2>

    <a asp-action="Create" class="add-btn">+ Add New User</a>
    <div class="product-box">
    <table class="product-table">
        <thead>
            <tr>
                <th>User ID</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Password</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.user_id</td>
                    <td>@item.name</td>
                    <td>@item.email</td>
                    <td>@item.address</td>
                    <td>@item.phone</td>
                    <td>@item.password</td>
                    <td>@item.role</td>

                    <td>
                        <a asp-action="Read" asp-route-id="@item.user_id" class="edit-btn">View</a>
                        <a asp-action="Update" asp-route-id="@item.user_id" class="edit-btn">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.user_id" class="delete-btn">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
</div>

