@model Veluxe.Models.ProductModel

@{
    ViewData["Title"] = "Create Product";
    Layout = "_AdminLayout";
}
<link rel="stylesheet" href="~/css/adminCRUD.css" />

<div class="container-section">
    <div class="section">
        <h2 class="form-title">View Product</h2>
        <form asp-action="Read" method="post">
            <div class="form-group">
                <label asp-for="product_id">Product ID:</label>
                <input value="@Model.product_id" readonly />
            </div>

            <div class="form-group">
                <label asp-for="category_id">Category ID:</label>
                <input value="@Model.category_id" readonly />
            </div>

            <div class="form-group">
                <label asp-for="product_name">Product Name:</label>
                <input value="@Model.product_name" readonly />
            </div>

            <div class="form-group">
                <label asp-for="description">Description</label>
                <input value="@Model.description" readonly />
            </div>

            <div class="form-group">
                <label asp-for="price">Price:</label>
                <input value="@Model.price" readonly />
            </div>

            <div class="form-group">
                <label asp-for="image_url">Image:</label>
                <input value="@Model.image_url" readonly />
            </div>

            <a asp-action="AdminProduct" class="container-section button">Back</a>
        </form>
    </div>
</div>