namespace Veluxe.Views.Home
@model Veluxe.Models.CheckoutModel

@{
    ViewData["Title"] = "Checkout";
}

<link rel="stylesheet" href="~/css/checkout.css" />

<h5>Billing Details</h5>

<section class="checkout-section">
    <div class="billing-left">
        <form asp-controller="Checkout" asp-action="PlaceOrder" method="post">
            <h5 class="form-title">Personal Details</h5>
            <div class="form-row">
                <div class="form-group half">
                    <label>First Name</label>
                    <input asp-for="Orders.first_name" type="text" placeholder="Jane" />
                </div>

                <div class="form-group half">
                    <label>Last Name</label>
                    <input asp-for="Orders.last_name" type="text" placeholder="Doe" />
                </div>
            </div>

            <div class="form-group">
                <label>Email</label>
                <input asp-for="Orders.email" type="email" placeholder="janedoe@example.com" />
            </div>

            <div class="form-row">
                <div class="form-group half">
                    <label>District</label>
                    <input asp-for="Orders.district" type="text" placeholder="Kathmandu" />
                </div>

                <div class="form-group half">
                    <label>Address</label>
                    <input asp-for="Orders.address" type="text" placeholder="Maharajgunj" />
                </div>
            </div>

            <div class="form-group">
                <label>Phone Number</label>
                <input asp-for="Orders.phone_number" type="tel" placeholder="0000000000" />
            </div>

            <h5 class="form-title">Payment Details</h5>

            <div class="form-group">
                <label>Credit Card Number</label>
                <input type="text" placeholder="0000-0000-0000-0000" />
            </div>

            <div class="form-row">
                <div class="form-group half">
                    <label>CVV</label>
                    <input type="text" placeholder="000" />
                </div>

                <div class="form-group half">
                    <label>Expiration Date</label>
                    <input type="text" placeholder="MM/DD" />
                </div>
            </div>

            <button type="submit">Checkout</button>

        </form>
    </div>

    

    <div class="billing-right">
        <h5 class="form-title">Your Order</h5>
        <table class="order-table">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Unit Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Cart?.Cart_Products == null || !Model.Cart.Cart_Products.Any())
                {
                    <tr>
                        <td colspan="4">Your cart is empty</td>
                    </tr>
                }
                else
                {
                    foreach (var item in Model.Cart.Cart_Products)
                    {
                        <tr>
                            <td>@item.Products?.product_name</td>
                            <td>Rs. @item.Products?.price.ToString("0.00")</td>
                            <td>@item.quantity</td>
                            <td>Rs. @item.total_price.ToString("0.00")</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <hr style="border: none; border-top: 1.5px solid black; margin: 15px 0;">
        <table class="order-table"> 
            <tr>
                <td>Delivery Charge</td>
                <td>Rs. 100</td>
            </tr>
            <tr>
                <td>Subtotal</td>
                <td>Rs. @Model.Cart.grand_total.ToString("0.00")</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>Rs. @(Model.Cart.grand_total + 100)</td>
            </tr>
            
        </table>
     
    </div>
</section>